/* Write your CSS here */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.todo {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: 'roboto';
}
.todo-delete-buton {
  color: #ff0b37;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: solid 1px #ff0b37;
  border-radius: 8px;
  width: 100px;
  height: 40px;
}
